.view-markup__title {
    position: relative;
    z-index: 0;

    overflow: hidden;

    padding-right: 40px;

    white-space: nowrap;
    letter-spacing: .5px;

    font-family: var(--vm-ff-primary);
    font-size: 1.16666em;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}