[data-view-markup-tabs] {
    > [data-view-markup]:not(:first-child) {
        display: none;
    }
}

.view-markup-tabs {
    font-size: 16px;

    .view-markup-tabs__nav {
        position: relative;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        background-color: var(--vm-color-gray-100);
    }

    .view-markup-tabs__title {
        margin-top: 14px;
        padding: 0 var(--vm-tablist-padding-x-common);

        line-height: normal;
    }

    .view-markup-tabs__tabs-list {
        --vm-color-scrollbar: var(--vm-color-gray-200);
        display: flex;
        overflow: auto;

        width: 100%;
        padding: var(--vm-tablist-padding-y-common) var(--vm-tablist-padding-x-common);

        mask-image: linear-gradient(to right, #000 calc(100% - var(--vm-tablist-padding-x-common)), rgba(#000, 0) 100%);
    }

    .view-markup-tabs__tab-button {
        display: flex;
        align-items: center;
        justify-content: center;

        min-height: var(--vm-tablist-button-height);
        margin-right: 5px;
        padding: 0 20px;

        cursor: pointer;
        text-align: center;
        white-space: nowrap;

        color: var(--vm-color-gray-800);
        border: 0;
        border-radius: var(--vm-tablist-border-radius-common);
        background-color: #fff;
        box-shadow: var(--vm-tablist-box-shadow);

        font-size: var(--vm-tablist-font-size);
        font-weight: bold;
        font-family: var(--vm-ff-primary);
        line-height: 1;

        &[aria-selected="true"] {
            color: var(--vm-color-gray-100);
            background-color: var(--vm-color-gray-800);
        }

        &:last-child {
            margin-right: 15px;
        }
    }

    .view-markup-tabs__modal-btn {
        z-index: 1;
        top: var(--vm-tablist-padding-y-common);
        right: var(--vm-tablist-padding-x-common);
        left: auto;

        height: var(--vm-tablist-button-height);
        padding: 0;

        opacity: 1;
        color: var(--vm-color-gray-800);
        border-radius: var(--vm-tablist-border-radius-common);
        background-color: #fff;
        box-shadow: var(--vm-tablist-box-shadow);

        font-size: 20px;

        &:before {
            display: none;
        }

        &:after {
            margin-top: 0;
        }
    }

    .view-markup-tabs__sep {
        position: relative;
        left: 15px;

        display: inline-block;

        height: calc(var(--vm-tablist-button-height) * .6666);

        border-right: 1px solid var(--vm-color-gray-200);
    }

    &.view-markup-tabs--bg-none {
        .view-markup-tabs__title {
            padding: 0;
        }

        .view-markup-tabs__nav {
            background-color: transparent;
        }

        .view-markup-tabs__tabs-list {
            padding: var(--vm-tablist-padding-y-common) 0;
        }

        .view-markup-tabs__modal-btn {
            right: 0;
        }

        &.view-markup-tabs--pill-view {
            .view-markup-tabs__tab-button {
                box-shadow: none;

                &:not([aria-selected="true"]) {
                    background-color: var(--vm-color-gray-100);
                }
            }
        }

        &.view-markup-tabs--show-modal-btn {
            .view-markup-tabs__tabs-list {
                width: calc(100% - 80px);
            }
        }
    }

    &.view-markup-tabs--show-modal-btn {
        .view-markup-tabs__tabs-list {
            width: calc(100% - 120px);
        }

        .view-markup__modal-btn {
            visibility: hidden !important;
        }
    }

    &.view-markup-tabs--pill-view {
        .view-markup-tabs__tab-button {
            border-radius: 30px;
        }
    }
}
